#game-board {
    position: relative;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.block {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;  
    background: linear-gradient(45deg, gray, darkgray); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  /* This adds a shadow */
}

#main-menu {
    /* display: none; */
}
